pandas>=2.0.0
numpy>=1.24.0
matplotlib>=3.7.0
librosa~=0.11.0
PyWavelets~=1.8.0
soundfile~=0.13.1
pydub~=0.25.1
scipy~=1.12.0
tensorflow~=2.15.0
tqdm~=4.67.1
pygad~=3.2.0
birdnetlib~=0.18.0
resampy~=0.4.3